<link rel="stylesheet" type="text/css" href="<%= url("/application.css")%>">
<body>
  <h1 class="my-robots">My Robots</h1>
  <a href='robots/new'>Make a new Robot</a>
  <ul>
    <% @robots.each do |robot| %>
    <ul class="robots">
      <img src="http://www.robohash.org/<%= robot.name %>">
      <h3><a href="robots/<%= robot.id %>"><%= robot.name %></a></h3>
      <p><%= robot.city %></p>
      <p><%= robot.state %></p>
      <p><%= robot.department %></p>
    </ul>
    <% end %>
  </ul>
</body>
