<body>
  <a href='robots/new'>Make a new Robot</a>
  <ul>
    <div class="row">
      <ul class="robots">
        <% @robots.each do |robot| %>
        <div class="col-md-2">
          <img class="index-robot" src="http://www.robohash.org/<%= robot.name %>">
          <h4><a href="robots/<%= robot.id %>"><%= robot.name %></a></h4>
          <p><%= robot.city %></p>
          <p><%= robot.state %></p>
          <p><%= robot.department %></p>
        </div>
        <% end %>
      </ul>
    </div>
  </ul>
</body>
